@model SchoolAssistant.Web.ViewModels.Courses.SingleLectureViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<h1>@this.ViewData["Title"]</h1>
<div>
    <iframe src="@Model.PresentationUrl" class="img-fluid w-100 min-vh-100" allowfullscreen webkitallowfullscreen></iframe>
</div>
<div class="youtube">
    <iframe src="@Model.VideoUrl" frameborder="0" alt="..." class="img-fluid w-100 min-vh-100" allowfullscreen webkitallowfullscreen></iframe>
</div>
